#!/bin/bash

set -e
# set -u
set -o pipefail
# set -x

RED='\033[0;31m'
GREEN='\033[0;32m'
L_GREEN='\033[1;32m'
YELLOW='\033[0;33m'
L_YELLOW='\033[1;33m'
BLUE='\033[0;34m'
L_BLUE='\033[1;34m'
PURPLE='\033[0;35m'
L_PURPLE='\033[1;35m'
CYAN='\033[0;36m'
L_CYAN='\033[1;36m'
GRAY='\033[1;30m'
NC='\033[0m'

enable_service() {
    NAME=$1
    IS_USER=$2

    if [ -n "$IS_USER" ]; then
        set +e # Ignore exit code
        status=$(systemctl is-enabled --user $NAME)
        set -e
        if [ "$status" == "disabled" ]; then
            echo -e "${L_YELLOW}Enabling$NC $L_CYAN$NAME$NC (${YELLOW}user$NC)"
            systemctl enable --user $NAME
        elif [ "$status" == "enabled" ]; then
            echo -e "$CYAN$NAME$NC already ${L_GREEN}enabled$NC (${YELLOW}user$NC)"
        elif [ "$status" == "static" ]; then
            echo -e "$CYAN$NAME$NC is marked as ${L_YELLOW}static$NC (${YELLOW}user$NC) ${GRAY}skipping$NC"
        else
            echo -e "$CYAN$NAME$NC ${RED}does not exit$NC on this machine (${YELLOW}user$NC) ${GRAY}skipping$NC"
        fi
    else
        set +e # Ignore exit code
        status=$(systemctl is-enabled $NAME)
        set -e
        if [ "$status" == "disabled" ]; then
            echo -e "${L_YELLOW}Enabling$NC $L_BLUE$NAME$NC (${PURPLE}system-wide$NC)"
            sudo systemctl enable $NAME
        elif [ "$status" == "enabled" ]; then
            echo -e "$BLUE$NAME$NC already ${L_GREEN}enabled$NC (${PURPLE}system-wide$NC)"
        elif [ "$status" == "static" ]; then
            echo -e "$CYAN$NAME$NC is marked as ${L_YELLOW}static$NC (${PURPLE}system-wide$NC) ${GRAY}skipping$NC"
        else
            echo -e "$BLUE$NAME$NC ${RED}does not exit$NC on this machine (${PURPLE}system-wide$NC) ${GRAY}skipping$NC"
        fi
    fi
}


echo -e "\n${L_PURPLE}Setting up services...$NC"

enable_service drkonqi-coredump-processor@.service
enable_service drkonqi-coredump-launcher.socket 1
enable_service drkonqi-coredump-cleanup.timer 1

enable_service dbus-broker.service 1
enable_service dbus-broker.service

enable_service ananicy.service
enable_service earlyoom.service
enable_service libvirtd.socket
enable_service libvirt-guests.service

enable_service sshd.service

enable_service bluetooth.service
enable_service avahi-daemon.service
enable_service cups.service
enable_service cups-browsed.service

enable_service updatedb.timer

{{ if eq .chezmoi.hostname "nuclear-submarine" }}
enable_service pamusb-agent.service
enable_service grub-btrfsd.service
enable_service fprintd.service
{{ end }}

enable_service docker.socket 1

{{ if (or (eq .chezmoi.hostname "sauron") (eq .chezmoi.hostname "portable-heater")) }}
enable_service psd 1
{{ end }}

enable_service polkit.service
enable_service rtkit-daemon.service


echo -e "${L_GREEN}Service setup done!$NC"


echo -e "\n${L_PURPLE}Setting up groups...$NC"

add_group() {

    if [ -z "$(getent group $1)" ]; then
        echo -e "$CYAN$1$NC does not exist, ${L_CYAN}creating$NC"
        sudo groupadd -r $1
    fi

    if grep -q $1 /etc/group; then
        if id -nG "$USER" | grep -qw "$1"; then
            echo -e "$GREEN$USER$NC belongs to $CYAN$1$NC, ${GRAY}skipping$NC"
        else
            echo -e "$GREEN$USER$NC does not belong to $CYAN$1$NC, ${L_YELLOW}adding$NC"
            sudo usermod -aG $1 $USER
        fi
    else
         echo -e "$CYAN$1$NC ${RED}does not exist$NC on this machine, ${GRAY}skipping$NC"
    fi
}

add_group sys
add_group wireshark
add_group realtime
add_group docker
add_group i2c
# add_group plugdev # Only used by razer udev rules
add_group rfkill
add_group video
add_group input
add_group informant
add_group kvm
add_group libvirt

echo -e "${L_GREEN}Group setup done!$NC"

{{- if eq .samba.enabled "true" }}

echo -e "\n${L_PURPLE}Setting up samba...$NC"

add_group sambashare

sudo mkdir -p /var/lib/samba/usershares
sudo chown root:sambashare /var/lib/samba/usershares
sudo chmod 1770 /var/lib/samba/usershares

enable_service smb.service
enable_service nmb.service

echo -e "${L_GREEN}Samba setup done!$NC"

{{- end }}

if ! test -f /etc/sysctl.d/99-maxperfwiz.conf; then
    echo -e "\n${L_PURPLE}Starting maxperfwiz...$NC"
    curl -O https://gitlab.com/cscs/maxperfwiz/raw/master/maxperfwiz
    bash maxperfwiz
    rm maxperfwiz
    echo -e "${L_GREEN}Maxperfwiz tuning done!$NC"
else
    echo -e "\n${L_GREEN}Maxperfwiz already applied, but maybe go check for updates$NC"
    echo "https://gitlab.com/cscs/maxperfwiz"
fi
