#!/bin/bash

cd "{{.chezmoi.sourceDir}}/pkgsync"
bash pkgsync.sh
bash pkg_build.sh

install-flatpak() {
    flatpak install "$1"
}

install-dotnet() {
    dotnet tool install -g "$1" || dotnet tool update -g "$1"
}

uv tool install paginate-json
uv tool install doc484
uv tool install gruvbox-factory
uv tool install semgrep
uv tool install gallery-dl
uv tool install djlint
uv tool install exrex
uv tool install sherlock-project
uv tool install nwdiag
uv tool install blockdiag
uv tool install seqdiag
uv tool install pip-autoremove
uv tool install ty
uv tool install rembg[cpu,cli]
# aw-watcher-netstatus
# https://github.com/rtnhn/aw-importer-lastfm.git aw-importer-lastfm
uv tool upgrade --all

cargo binstall checkexec
cargo binstall cargo-update
cargo binstall cargo-edit
cargo binstall wild-linker
# cargo binstall qemu-rdp
cargo binstall --git https://github.com/jgavris/rs-git-fsmonitor.git rs-git-fsmonitor
cargo install --git https://github.com/JFryy/systemd-lsp
# cargo install --git https://github.com/brayo-pip/aw-watcher-lastfm.git
cargo install-update -a

go install github.com/cweill/gotests/gotests@latest
go install github.com/fatih/gomodifytags@latest
go install github.com/josharian/impl@latest
go install github.com/haya14busa/goplay/cmd/goplay@latest
go install honnef.co/go/tools/cmd/staticcheck@latest
go install github.com/docker/docker-language-server/cmd/docker-language-server@latest

install-flatpak org.easycoding.TunedSwitcher
install-flatpak net.mkiol.Jupii
flatpak update
flatpak uninstall --unused --delete-data

install-dotnet csharprepl
install-dotnet dotnet-ef

code --update-extensions &
lensfun-update-data &
tldr --update &
sudo dotnet workload update --from-previous-sdk &
wait
fwupdmgr refresh || true
fwupdmgr update

update-mime-database /home/kloud/.local/share/mime/
