#!/bin/bash

set -e

L_PURPLE='\033[1;35m'
L_GREEN='\033[1;32m'
NC='\033[0m'

# {{ output "sh" "-c" "cd /home/kloud/Documents/shared/_Personal && tar cf - KDE-loginscreens | sha1sum" | trim }}
# {{ output "sh" "-c" "cd /home/kloud/Documents/shared/_Personal && tar cf - subnautica_sound_theme | sha1sum" | trim }}

echo -e "\n${L_PURPLE}Installing kde loginscreens...$NC"
cd /home/kloud/Documents/shared/_Personal/KDE-loginscreens
bash install.sh
echo -e "${L_GREEN}Kde loginscreens installed!$NC"

echo -e "\n${L_PURPLE}Installing subnautica sound theme...$NC"
cd /home/kloud/Documents/shared/_Personal/subnautica_sound_theme
bash install.sh
echo -e "${L_GREEN}Subnautica sound theme installed!$NC"
