#!/bin/bash

{{ template "etc_install" dict "source_file" "etc/pacman.conf.tmpl" "file" "/etc/pacman.conf" "chezmoi" .chezmoi }}
{{ template "etc_install" dict "source_file" "etc/environment.tmpl" "file" "/etc/environment" "chezmoi" .chezmoi }}
{{ template "etc_install" dict "source_file" "etc/vconsole.conf" "file" "/etc/vconsole.conf" "chezmoi" .chezmoi }}
{{ template "etc_install" dict "source_file" "etc/ssh/sshd_config" "file" "/etc/ssh/sshd_config" "chezmoi" .chezmoi }}


