#!/bin/bash

set -e
set -o pipefail

# theme hash: {{ include "dot_config/oh-my-posh/shell_theme_root.json" | sha256sum }}
# aliases hash: {{ include "dot_bash_aliases" | sha256sum }}
# aliases hash: {{ include "dot_bash_profile" | sha256sum }}
# rc hash: {{ include "dot_bashrc" | sha256sum }}

PURPLE='\033[0;35m'
NC='\033[0m'
BLUE='\033[0;34m'
L_GREEN='\033[1;32m'

echo -e "Copying ${BLUE}oh-my-posh$NC theme for the ${PURPLE}root user$NC"
sudo mkdir -pv '/root/.config/oh-my-posh/'
sudo cp -v --remove-destination {{ joinPath .chezmoi.sourceDir "dot_config/oh-my-posh/shell_theme_root.json" | quote }} /root/.config/oh-my-posh/shell_theme.json
echo -e "Copying ${BLUE}bash configs$NC for the ${PURPLE}root user$NC"
sudo cp -v --remove-destination {{ joinPath .chezmoi.sourceDir "dot_bashrc" | quote }} /root/.bashrc
sudo cp -v --remove-destination {{ joinPath .chezmoi.sourceDir "dot_bash_profile" | quote }} /root/.bash_profile
sudo cp -v --remove-destination {{ joinPath .chezmoi.sourceDir "dot_bash_aliases" | quote }} /root/.bash_aliases

source ~/.bashrc # Reload shell for current user
echo -e "${L_GREEN}Shell config reloaded$NC"
