#!/bin/bash

# {{ output "sh" "-c" "cat /home/kloud/.config/chezmoi/chezmoi.toml | sha1sum" | trim }}

set -e
# set -u
set -o pipefail
# set -x

RED='\033[0;31m'
GREEN='\033[0;32m'
L_GREEN='\033[1;32m'
YELLOW='\033[0;33m'
L_YELLOW='\033[1;33m'
BLUE='\033[0;34m'
L_BLUE='\033[1;34m'
PURPLE='\033[0;35m'
L_PURPLE='\033[1;35m'
CYAN='\033[0;36m'
L_CYAN='\033[1;36m'
GRAY='\033[1;30m'
NC='\033[0m'

enable_service() {
    NAME=$1
    IS_USER=$2
    DISABLE=$3

    if [ -n "$IS_USER" ] && [ $IS_USER = "1" ]; then
        set +e # Ignore exit code
        status=$(systemctl is-enabled --user $NAME)
        set -e
        if [ "$status" == "disabled" ]; then
            if [ -n "$DISABLE" ] &&  [ $DISABLE = "1" ]; then
                echo -e "$CYAN$NAME$NC already ${L_RED}disabled$NC (${YELLOW}user$NC)"
            else
                echo -e "${L_YELLOW}Enabling$NC $L_CYAN$NAME$NC (${YELLOW}user$NC)"
                systemctl enable --user $NAME
            fi
        elif [ "$status" == "enabled" ]; then
            if [ -n "$DISABLE" ] &&  [ $DISABLE = "1" ]; then
                echo -e "${L_PURPLE}Disabling$NC $L_CYAN$NAME$NC (${YELLOW}user$NC)"
                systemctl disable --user $NAME
            else
                echo -e "$CYAN$NAME$NC already ${L_GREEN}enabled$NC (${YELLOW}user$NC)"
            fi
        elif [ "$status" == "static" ]; then
            echo -e "$CYAN$NAME$NC is marked as ${L_YELLOW}static$NC (${YELLOW}user$NC) ${GRAY}skipping$NC"
        else
            echo -e "$CYAN$NAME$NC ${RED}does not exit$NC on this machine (${YELLOW}user$NC) ${GRAY}skipping$NC"
        fi
    else
        set +e # Ignore exit code
        status=$(systemctl is-enabled $NAME)
        set -e
        if [ "$status" == "disabled" ]; then
            if [ -n "$DISABLE" ] &&  [ $DISABLE = "1" ]; then
                echo -e "$BLUE$NAME$NC already ${L_RED}disabled$NC (${PURPLE}system-wide$NC)"
            else
                echo -e "${L_YELLOW}Enabling$NC $L_BLUE$NAME$NC (${PURPLE}system-wide$NC)"
                sudo systemctl enable $NAME
            fi
        elif [ "$status" == "enabled" ]; then
            if [ -n "$DISABLE" ] &&  [ $DISABLE = "1" ]; then
                echo -e "${L_PURPLE}Disabling$NC $L_BLUE$NAME$NC (${PURPLE}system-wide$NC)"
                sudo systemctl disable $NAME
            else
                echo -e "$BLUE$NAME$NC already ${L_GREEN}enabled$NC (${PURPLE}system-wide$NC)"
            fi
        elif [ "$status" == "static" ]; then
            echo -e "$CYAN$NAME$NC is marked as ${L_YELLOW}static$NC (${PURPLE}system-wide$NC) ${GRAY}skipping$NC"
        else
            echo -e "$BLUE$NAME$NC ${RED}does not exit$NC on this machine (${PURPLE}system-wide$NC) ${GRAY}skipping$NC"
        fi
    fi
}


echo -e "${L_PURPLE}Setting up services...$NC"

enable_service dbus-broker.service
enable_service dbus-broker.service 1

enable_service drkonqi-coredump-processor@.service
enable_service drkonqi-coredump-launcher.socket 1
enable_service drkonqi-coredump-cleanup.timer 1
enable_service gpg-logger.service 1
enable_service ydotool.service 1

enable_service cronie.service
enable_service ananicy-cpp.service
enable_service earlyoom.service
enable_service libvirtd.socket
enable_service libvirt-guests.service

enable_service sshd.service

enable_service bluetooth.service
enable_service avahi-daemon.service
enable_service cups.service
enable_service cups-browsed.service
enable_service systemd-resolved.service
enable_service adb.service

enable_service tailscaled.service

enable_service smartd.service

enable_service acpid.service

enable_service plocate-updatedb.timer
{{ if eq .chezmoi.hostname "portable-heater" }}
    # Disable
    enable_service fstrim.timer 0 1
{{ else }}
    enable_service fstrim.timer
{{ end }}

{{ if eq .chezmoi.hostname "nuclear-submarine" }} # Work laptop
enable_service systemd-boot-update 0 1

enable_service grub-btrfsd.service
enable_service fprintd.service

{{ else }}
enable_service systemd-boot-update
{{ end }}

enable_service displaylink.service
enable_service gpu-screen-recorder-ui 1

{{ if eq .chezmoi.hostname "black-bird" }}
enable_service open-fprintd-resume 0 1
enable_service open-fprintd-suspend 0 1
enable_service ModemManager
{{ end }}

enable_service docker.socket 1

enable_service psd 1

enable_service "suspend@$USER"
enable_service awake.target 1

{{ if eq .chezmoi.hostname "sauron" }}
enable_service openrgb.service 1
enable_service openrgb_keyboard.service 1

enable_service nvidia-hibernate.service
enable_service nvidia-resume.service
enable_service nvidia-suspend.service
enable_service nvidia-persistenced.service

enable_service gopreload.service
{{ end }}

enable_service polkit.service
enable_service rtkit-daemon.service
enable_service systemd-timesyncd.service
enable_service pacserve.service

enable_service espanso.service 1
enable_service rescrobbled.service 1

cd /home/kloud/.local/share/chezmoi/ && git maintenance start

echo -e "${L_GREEN}Service setup done!$NC\n"


echo -e "${L_PURPLE}Setting up groups...$NC"

add_group() {

    if [ -z "$(getent group $1)" ]; then
        echo -e "$CYAN$1$NC does not exist, ${L_CYAN}creating$NC"
        sudo groupadd -r $1
    fi

    if grep -q $1 /etc/group; then
        if id -nG "$USER" | grep -qw "$1"; then
            echo -e "$GREEN$USER$NC belongs to $CYAN$1$NC, ${GRAY}skipping$NC"
        else
            echo -e "$GREEN$USER$NC does not belong to $CYAN$1$NC, ${L_YELLOW}adding$NC"
            sudo usermod -aG $1 $USER
            # newgrp $1
        fi
    else
         echo -e "$CYAN$1$NC ${RED}does not exist$NC on this machine, ${GRAY}skipping$NC"
    fi
}

add_group tss # For tpm
add_group sys
add_group wireshark
add_group realtime
add_group docker
add_group i2c
{{ if (or (eq .chezmoi.hostname "sauron") (eq .chezmoi.hostname "nuclear-submarine")) }}
add_group plugdev # Only used by razer udev rules and goodix finger sensor
{{ end }}
{{ if eq .chezmoi.hostname "nuclear-submarine" }}
add_group flutter
{{ end }}
add_group rfkill
add_group video
add_group input # For joysticks
add_group uucp # For arduino programming (serial ports)
add_group informant
add_group kvm # For qemu
add_group libvirt

enable_service wsdd.service
enable_service winbind.service

echo -e "${L_GREEN}Group setup done!$NC\n"

{{- if eq .samba.enabled "true" }}

echo -e "${L_PURPLE}Setting up samba...$NC"

add_group sambashare

sudo mkdir -p /var/lib/samba/usershares
sudo chown root:sambashare /var/lib/samba/usershares
sudo chmod 1770 /var/lib/samba/usershares

enable_service smb.service
enable_service nmb.service

echo -e "${L_GREEN}Samba setup done!$NC\n"

{{- end }}
