#!/bin/bash

cd "{{.chezmoi.sourceDir}}/pkgsync"
bash pkgsync.sh
# pipx install paginate-json
# pipx install doc484
# pipx install gruvbox-factory
# wineasio-register
# waydroid prop set persist.waydroid.multi_windows true
#
# default (/etc/machine-id)-*-arch*-*.conf
# timeout 5
# console-mode max
