#!/bin/bash

cd "{{.chezmoi.sourceDir}}/pkgsync"
bash pkgsync.sh

install-pipx() {
    pipx list | grep "\- " | cut -d ' ' -f 6 | grep "${2:-${1:-error}}" > /dev/null || pipx install "$1"
}

install-pipx paginate-json
install-pipx doc484
install-pipx gruvbox-factory
install-pipx semgrep
install-pipx sherlock-project sherlock

cargo install checkexec
cargo install cargo-update
cargo install-update -a

# wineasio-register
# waydroid prop set persist.waydroid.multi_windows true
#
# default (/etc/machine-id)-*-arch*-*.conf
# timeout 5
# console-mode max
#
# Crontab:
# disable usb wakeup: @reboot sleep 10 && echo "XHC" > /proc/acpi/wakeup

# Polkit-1  /usr/lib/pam.d/polkit-1
