{{- $fontsize := promptIntOnce . "konsole.fontsize" "Konsole font size" -}}
{{- $git_username := promptStringOnce . "git.git_username" "Git username" -}}
{{- $git_email := promptStringOnce . "git.git_email" "Git email" -}}

{{- $enablex86v3 := promptBoolOnce . "x86_v3.enabled" "Does this machine support x86_v3" -}}

{{- $enablesamba := promptBoolOnce . "samba.enabled" "Enable samba" -}}

{{ $GIT_EMAIL_ENV := printf "%s=%s" "GIT_EMAIL" $git_email }}
{{ $signingkey := output "env" $GIT_EMAIL_ENV "sh" "-c" "gpg --with-colons --locate-keys $GIT_EMAIL | grep pub | cut -d : -f 5" | trim }}

[data.konsole]
    fontsize = {{ $fontsize }}

[data.git]
    git_username = {{ $git_username | quote }}
    git_email = {{ $git_email | quote }}

[data.gpg]
    signingkey = {{ $signingkey | quote }}

[data.x86_v3]
    enabled = {{ $enablex86v3 | quote }}

[data.samba]
    enabled = {{ $enablesamba | quote }}

[git]
    autoCommit = false
    autoPush = false

encryption = "gpg"
progress=true

[gpg]
    recipient = {{ $git_email | quote }}

[hooks.add.pre]
    command = ".local/share/chezmoi/.handle_etc_pre_add.py"

[hooks.update.pre]
    command = ".local/share/chezmoi/.handle_etc_pre_update_apply.py"

[hooks.apply.pre]
    command = ".local/share/chezmoi/.handle_etc_pre_update_apply.py"

[hooks.update.post]
    command = ".local/share/chezmoi/.handle_etc_post_update_apply.py"

[hooks.apply.post]
    command = ".local/share/chezmoi/.handle_etc_post_update_apply.py"

{{ if eq $signingkey "" }}
{{  writeToStdout "Warning, signing key for " }}
{{  writeToStdout $git_email }}
{{  writeToStdout " wasn't found\n" }}
{{ else }}
{{  writeToStdout "Inferred signing key: " }}
{{  writeToStdout $signingkey }}
{{  writeToStdout "\n" }}
{{ end }}
