{{- $fontsize := promptIntOnce . "fontsize" "Konsole font size" -}}

[data.konsole]
    fontsize = {{ $fontsize | quote }}

[git]
    autoCommit = false
    autoPush = false

encryption = "gpg"
[gpg]
    recipient = "Kloud"
