use-agent

default-key {{ .gpg.signingkey }}
encrypt-to {{ .gpg.signingkey }}

keyserver hkps://keys.openpgp.org



utf8-strings
debug-level {{.gpg.loglevel}}
log-file socket:///home/kloud/.local/share/gnupg/log-socket
