#
# This file is parsed by pam_env module
#
# Syntax: simple "KEY=VAL" pairs on separate lines
#

#QT_QPA_PLATFORMTHEME=qt5ct
#QT_STYLE_OVERRIDE=kvantum

BROWSER=firefox
EDITOR=nano

{{ if eq .chezmoi.hostname "sauron" }}
#firefox hardware accel
LIBVA_DRIVER_NAME=nvidia
MOZ_DISABLE_RDD_SANDBOX=1
{{ end }}

{{ if (or (eq .chezmoi.hostname "black-bird") (eq .chezmoi.hostname "nuclear-submarine")) }}
# Vdapau via libvdpau-va-gl
VDPAU_DRIVER=va_gl
{{ end }}

KDE_COREDUMP_NOTIFY=1


