### OS Entry Targeting:
### The tool does not automatically know the custom OS name used in $ESP_PATH/limine.conf, which can contain multiple OS names for multi-boot scenarios.
### You need to specify the corresponding OS name here to match the name used in $ESP_PATH/limine.conf.
### Alternatively, you can add "comment: machine-id=<machine-id>" to your OS entry block in $ESP_PATH/limine.conf.
### The machine-ID helps the tool to automatically target the correct OS entry. Changing the OS name does not matter.
TARGET_OS_NAME="Arch Linux"


### Boot Partition Path:
### Specify the mount path of your boot partition if you are running on legacy BIOS, ARM, or RISC-V.
### Note:
### If you are using systemd and UEFI, the path is detected automatically via 'bootctl --print-esp-path'.
### However, specifying the ESP path manually can improve performance and reliability.
#ESP_PATH="/boot"


### Max Snapshot Entries:
### Set the maximum number of snapshot entries for your OS. This depends on the boot partition size and how many kernels will be installed.
### Note: The tool uses a deduplication function to prevent copying kernel versions that already exist.
MAX_SNAPSHOT_ENTRIES=8


### Boot Partition Usage Limit:
### Set a usage limit for your boot partition as a percentage between 1 and 99. The default value is 85.
### The tool will stop creating new snapshot entries when this limit is reached.
### Tip for Arch Linux users: Install "journalctl-desktop-notification" from AUR, it will notify you when the usage limit is exceeded.
LIMIT_USAGE_PERCENT=85


### Snapper Configuration Name:
### Specify the Snapper configuration name. If not set, the tool will automatically detect it from "snapper list-configs".
### Specifying it manually improves performance by avoiding automatic detection overhead.
#SNAPPER_CONFIG_NAME="root"


### Root Subvolume Path:
### Set the path to your root subvolume. The default value for some distros is "/@".
{{- if eq .chezmoi.hostname "black-bird" }}
ROOT_SUBVOLUME_PATH="/"
{{- else }}
ROOT_SUBVOLUME_PATH="/@"
{{- end }}

### Root Snapshot Path:
### Specify the path to your root snapshots. The default is "/@/.snapshots", which is used for the default Snapper layout.
### Note: The tool supports Snapper with any custom layout within the same filesystem, but not random Btrfs layouts without Snapper.
{{- if eq .chezmoi.hostname "black-bird" }}
ROOT_SNAPSHOTS_PATH="/.snapshots"
{{- else }}
ROOT_SNAPSHOTS_PATH="/@/.snapshots"
{{- end }}

### Restore Method Selection:
### Choose whether to enable rsync for restoration. If enabled, the tool will prompt you to choose between rsync or btrfs during the restore process.
### Advantage of rsync: The subvolume ID remains unchanged without "messing up" the Btrfs metadata.
### Disadvantage of rsync: Slower compared to Btrfs, which directly creates a new subvolume from the selected snapshot.
### "yes": Enables the prompt for choosing rsync or btrfs.
### "no":  Disables the prompt, defaulting to btrfs for "one-click-restore."
ENABLE_RSYNC_ASK=no


### Btrfs UUID:
### Specify the UUID of your Btrfs filesystem, used only during the restore process.
### If not set, the tool automatically determines the UUID during initialization and saves it in 'snapshots.json'.
### If the saved UUID becomes outdated, set it manually.
#UUID=


### Authentication Method for Restore:
### Specify an authentication method for restore process. Options include 'sudo', 'doas', 'pkexec', `run0` or another method of your choice.
### If not set, 'pkexec' is used for Wayland/X11 environments, and 'sudo' for TTY.
#AUTH_METHOD=sudo


### Terminal Application:
### Specify a terminal app and its argument to open the console UI for running the restore process with details.
### For example, "konsole -e" for KDE or "gnome-terminal -- bash -c" for GNOME.
#TERMINAL=konsole
#TERMINAL_ARG="-e"


### Snapshot Entry Formatting:
### Set the number of spaces to indent each line in all snapshot entries within $ESP_PATH/limine.conf.
SPACE_NUMBER=5


### Snapshot Name Format:
### Choose the format for how snapshot entries look in the Limine bootloader:
### 0. ID=111 2023-12-20 10:59:59 (default)
### 1. 111│2023-12-20 10:59:59
### 2. 111 │ 2023-12-20 10:59:59
### 3. 2023-12-20 10:59:59│111
### 4. 2023-12-20 10:59:59 │ 111
### 5. 2023-12-20 10:59:59
### 6. 111
SNAPSHOT_FORMAT_CHOICE=2


### Hash Function for Deduplication and Checksum:
### Select a hash function to avoid copying duplicate boot files. Options are "blake3", "sha1", or "sha256".
### WARNING: Changing the hash function will not affect files named with the previous hash function, potentially increasing duplication.
### Note: "blake3" must be installed manually if chosen.
#HASH_FUNCTION=sha256


### Notification Icon:
### Set a custom icon to display in notifications when booting into a read-only snapshot and prompting for restoration.
NOTIFICATION_ICON="/usr/share/icons/hicolor/128x128/apps/LimineSnapperSync.png"


### Automatic Config Backup:
### Create a backup of 'limine.conf' and 'snapshots.json' before saving changes if they are older than the specified time (in hours).
### If not set, the default threshold is 8 hours.
BACKUP_THRESHOLD=8


### Custom Java Binary Path
### Set this to specify a custom Java binary path instead of using the system default.
### If left unset, the default system Java will be used.
#JAVA_BIN_PATH="/usr/lib/jvm/java-21-openjdk/bin"


### Quiet Mode
### Set to "yes" to hide all success messages and avoid log spam. (yes|no)
#QUIET_MODE=no


### Commands Before Save
### Run custom commands before saving 'limine.conf'.
### If using multiple commands, separate them with '&&' or '||'.
### Note: Use single quotes (') for command arguments when required, not double quotes (") as escape characters.
### Example: 'limine-reset-enroll' command is provided by some limine-entry-tool package.
COMMANDS_BEFORE_SAVE="limine-reset-enroll"


### Commands After Save
### Run custom commands after saving 'limine.conf'.
### If using multiple commands, separate them with '&&' or '||'.
### Note: Use single quotes (') for command arguments when required, not double quotes (") as escape characters.
### Example: 'limine-enroll-config' command is provided by some limine-entry-tool package.
COMMANDS_AFTER_SAVE="limine-enroll-config"
