[core]
    pager = delta
	fsmonitor = true
	untrackedcache = true

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    hyperlinks = true
    true-color = auto
    tabs = 4

    # General appearance
    dark = true
    syntax-theme = gruvbox-dark
    # File
    file-style = "#f9f5d7" bold
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    file-decoration-style = "#458588" ul
    keep-plus-minus-markers = false
    # No hunk headers
    hunk-header-style = omit
    # Line numbers
    line-numbers = true
    line-numbers-left-style = "#fb4934"
    line-numbers-right-style = "#b8bb26"
    line-numbers-minus-style = "#fb4934"
    line-numbers-plus-style = "#b8bb26"
    line-numbers-zero-style = "#84786A"
    line-numbers-left-format = " {nm:>3} │"
    line-numbers-right-format = " {np:>3} │"
    # Diff contents
    inline-hint-style = syntax
    minus-style = syntax "#5a2828"
    minus-emph-style = syntax "#732828"
    minus-non-emph-style = syntax auto
    plus-style = syntax "#285a28"
    plus-emph-style = syntax "#287328"
    plus-non-emph-style = syntax auto
    whitespace-error-style = "#FB4934" reverse
    # Commit hash
    commit-decoration-style = bold box ul
    commit-style = "#fe8019" bold italic
    # Blame
    blame-code-style = syntax
    blame-format = "{author:>18} ({commit:>8}) {timestamp:<13} "
    # blame-palette = "#1e1e1e" "#1d2021" "#282828" "#3c3836"
    # Merge conflicts
    merge-conflict-begin-symbol = ⌃
    merge-conflict-end-symbol = ⌄
    merge-conflict-ours-diff-header-style = "#FABD2F" bold
    merge-conflict-theirs-diff-header-style = "#FABD2F" bold overline
    merge-conflict-ours-diff-header-decoration-style = ''
    merge-conflict-theirs-diff-header-decoration-style = ''

[color]
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[color "blame"]
	highlightRecent = 234, 23 month ago, 235, 22 month ago, 236, 21 month ago, 237, 20 month ago, 238, 19 month ago, 239, 18 month ago, 240, 17 month ago, 241, 16 month ago, 242, 15 month ago, 243, 14 month ago, 244, 13 month ago, 245, 12 month ago, 246, 11 month ago, 247, 10 month ago, 248, 9 month ago, 249, 8 month ago, 250, 7 month ago, 251, 6 month ago, 252, 5 month ago, 253, 4 month ago, 254, 3 month ago, 231, 2 month ago, 230, 1 month ago, 229, 3 weeks ago, 228, 2 weeks ago, 227, 1 week ago, 226
[blame]
	coloring = highlightRecent
[column]
	ui = auto

[user]
	name = {{ .git.git_username }}
	email = {{ .git.git_email }}
	signingkey = {{ .gpg.signingkey }}

[commit]
	gpgsign = true
[pull]
	rebase = false
[push]
    autoSetupRemote = true
    followtags = true
[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
	insteadOf = "gh:"

[fetch]
	writeCommitGraph = true
	# prunetags = true
	# prune = true

[merge]
    conflictstyle = diff3
    tool = kdiff3
[diff]
    context = 10
	colorMoved = default
	colorMovedWS = allow-indentation-change
	submodule = log
[status]
	submoduleSummary = true
[submodule]
	recurse = true

[init]
	defaultBranch = master

[protocol "file"]
	allow = always


[safe]
	directory = /opt/flutter
[help]
    autocorrect = prompt
[alias]
    diffw = "diff -w"
    diffb = "diff -b"
	stasha = stash --all
	blamec = blame -w -C
	blamecc = blame -w -C -C
	blameccc = blame -w -C -C -C
	log-search = log -S
	log-diff = log -p
	log-search-diff = log -p -S
	clone-fast = clone --filter=tree:0 --depth=1
	pr = "!git pull --rebase || (git rebase --abort && git pull)"
	lol = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lod = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    los = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lo =  log --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --graph
    st = status --short --branch
    puf = push --force-with-lease
    pu = push
    co = checkout
    cb = checkout -b
    aa = add --all
    bv = branch -vv
    ba = branch -ra
    bd = branch -d
    ca = commit --amend
    sync = "!git pr && git pu"
    btemp = "!git bd temp && git cb temp"

[branch]
	sort = -committerdate
	sort = -HEAD

