[Desktop Entry]
Exec=bash /home/kloud/Documents/usefull_files/scripts/close_notifications.sh
Name=bash /home/kloud/Documents/usefull_files/scripts/close_notifications.sh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
