[Desktop Entry]
Categories=Audio
Comment=Feature packed music tracker
Exec=/home/kloud/Documents/shared/_Personal/apps/pano_scrobbler/bin/pano-scrobbler
Icon=/home/kloud/Documents/shared/_Personal/apps/pano_scrobbler/pano-scrobbler.svg
Keywords=deezer;soundcloud;music;murglar
Name=Pano Scrobbler
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=pano-scrobbler
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
MimeType=
