{{- if eq .chezmoi.hostname "sauron" -}}
# https://github.com/ventureoo/nvidia-tweaks
options nvidia NVreg_UsePageAttributeTable=1 NVreg_InitializeSystemMemoryAllocations=0
{{- else -}}
# Only enabled on sauron
{{- end }}
