[Desktop Action symlink-materialize]

Exec=notify-send "Not implemented"

Name=Materialize
Icon=folder-download-symbolic

[Desktop Action symlink-to-relative]

Exec=notify-send "Not implemented"

Name=To relative
Icon=folder

[Desktop Entry]
Actions=symlink-materialize;symlink-to-relative

MimeType=inode/symlink;

X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Symlink actions
