[Desktop Action dwarfs-mount]

Exec=dwarfs_helper_launcher.sh '%U' mount-rw

Name=Dwarfs mount
Icon=arrow-down

[Desktop Action dwarfs-mount-ro]

Exec=dwarfs_helper_launcher.sh '%U' mount-ro

Name=Dwarfs mount RO

[Desktop Action dwarfs-unmount]

Exec=dwarfs_helper_launcher.sh '%U' unmount-interactive

Name=Dwarfs unmount
Icon=udiskie-eject

[Desktop Action dwarfs-unmount-discard]

Exec=dwarfs_helper_launcher.sh '%U' unmount-discard-changes

Name=Dwarfs unmount discard changes

[Desktop Action dwarfs-unmount-keep]

Exec=dwarfs_helper_launcher.sh '%U' unmount-keep-changes

Name=Dwarfs unmount keep changes

[Desktop Action dwarfs-extract-here]

Exec=dwarfs_helper_launcher.sh '%U' extract-cwd

Name=Dwarfs extract here
Icon=archive-extract

[Desktop Action dwarfs-extract-here-delete]

Exec=dwarfs_helper_launcher.sh '%U' extract-cwd-delete

Name=Dwarfs extract here and delete image

[Desktop Action dwarfs-extract-to]

Exec=dwarfs_helper_launcher.sh '%U' extract-select

Name=Dwarfs extract to
Icon=archive-extract

[Desktop Action dwarfs-extract-to-delete]

Exec=dwarfs_helper_launcher.sh '%U' extract-select-delete

Name=Dwarfs extract to and delete image

[Desktop Entry]
Actions=dwarfs-mount;dwarfs-mount-ro;_SEPARATOR_;dwarfs-unmount;dwarfs-unmount-discard;dwarfs-unmount-keep;_SEPARATOR_;dwarfs-extract-here;dwarfs-extract-here-delete;dwarfs-extract-to;dwarfs-extract-to-delete

MimeType=application/x-dwarfs;

X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Dwarfs
