[Appearance]
ColorScheme=Gruvbox
EmojiFont=FiraCode Nerd Font Mono,{{ .konsole.fontsize }},-1,5,50,0,0,0,0,0
Font=FiraCode Nerd Font Mono,{{ .konsole.fontsize }},-1,5,50,0,0,0,0,0
TabColor=255,128,128
UseFontLineChararacters=false
WordMode=true
WordModeAscii=true
WordModeAttr=false

[Cursor Options]
CursorShape=2

[General]
DimWhenInactive=false
Name=gruvbox
Parent=FALLBACK/

[Interaction Options]
ColorFilterEnabled=false
CopyTextAsHTML=false
MiddleClickPasteMode=1
OpenLinksByDirectClickEnabled=false
UnderlineFilesEnabled=true

[Scrolling]
HistoryMode=1
HistorySize=3000

[Terminal Features]
BellMode=3
BlinkingCursorEnabled=true
UrlHintsModifiers=67108864
