[Appearance]
ColorScheme=Gruvbox
DimmValue=25
EmojiFont=FiraCode Nerd Font,{{ .konsole.fontsize }},-1,5,50,0,0,0,0,0
Font=FiraCode Nerd Font,{{ .konsole.fontsize }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1
TabColor=255,128,128
UseFontLineChararacters=false
WordMode=true
WordModeAscii=true
WordModeAttr=false

[Cursor Options]
CursorShape=2

[General]
DimWhenInactive=true
Name=gruvbox
Parent=FALLBACK/

[Interaction Options]
ColorFilterEnabled=false
CopyTextAsHTML=false
MiddleClickPasteMode=1
OpenLinksByDirectClickEnabled=false
UnderlineFilesEnabled=true

[Scrolling]
HistoryMode=2
HistorySize=3000

[Terminal Features]
BellMode=1
LineNumbers=1
BlinkingCursorEnabled=true
UrlHintsModifiers=67108864
