[Desktop Action dwarfs-mount]

Exec=notify-send "Not implemented"

Name=Dwarfs mount
Icon=node-add

[Desktop Entry]
Actions=dwarfs-mount

MimeType=application/x-dwarfs;

X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Dwarfs
