[Desktop Action chezmoi-add]

Exec=notify-send "Added %U" "$(chezmoi add '%U' > /dev/null && chezmoi git status)"

Name=Chezmoi add
Icon=node-add

[Desktop Action chezmoi-add-encrypt]

Exec=notify-send "Added %U" "$(chezmoi add --encrypt '%U' > /dev/null && chezmoi git status)"

Name=Chezmoi add encrypted
Icon=folder-locked-symbolic

[Desktop Entry]
Actions=chezmoi-add;chezmoi-add-encrypt

MimeType=application/octet-stream

X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=Chezmoi
