#!/usr/bin/env chezmoi_modify_manager

# This is needed to figure out where the source file is.
# See https://github.com/twpayne/chezmoi/issues/2934
source "{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | trimSuffix ".tmpl" | replace "modify_" "" }}.src.ini"

# Add your ignores and transforms here
#ignore section "my-section"
#ignore "exact section name without brackets" "exact key name"

# Everyting but close_notifications shortcut
ignore regex "org.kde.*" ".*"
ignore regex "KDE.*" ".*"
ignore regex "Activity.*" ".*"
ignore regex "media.*" ".*"
ignore regex "system.*" ".*"
ignore regex "straw.*" ".*"
ignore section "plasmashell"
ignore section "kwin"
ignore regex "ksm.*" ".*"
ignore regex "kmix.*" ".*"
ignore regex "khotkey.*" ".*"
ignore regex "kded.*" ".*"
ignore regex "kacc.*" ".*"
ignore regex "kcm.*" ".*"

#transform "section" "key" transform_name read="the docs" for="more detail on transforms"
