#!/usr/bin/env chezmoi_modify_manager

# This is needed to figure out where the source file is.
# See https://github.com/twpayne/chezmoi/issues/2934
source "{{ .chezmoi.sourceDir }}/{{ .chezmoi.sourceFile | trimSuffix ".tmpl" | replace "modify_" "" }}.src.ini"

# Add your ignores and transforms here

ignore "KFileDialog Settings" "Recent Files"
ignore "KFileDialog Settings" "Recent URLs"
ignore section "KPropertiesDialog"
ignore section "KTextEditor::Search"

ignore section "MainWindow"

#ignore "exact section name without brackets" "exact key name"
#ignore regex "section.*" "key_prefix_.*"
#transform "section" "key" transform_name read="the docs" for="more detail on transforms"
