#!/usr/bin/env chezmoi_modify_manager

# This is needed to figure out where the source file is.
# See https://github.com/twpayne/chezmoi/issues/2934
source auto

# Add your ignores and transforms here

ignore section "MainWindow"
ignore section "KTextEditor::Search"
ignore section "KFileDialog Settings"
ignore section "FileDialogSize"

set "KTextEditor Renderer" "Text Font" "FiraCode Nerd Font,{{ .system.fontsize }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1" separator="="
set "KateSQLPlugin][OutputCustomization][bool" "font" "FiraCode Nerd Font,{{ .system.fontsize }},-1,5,400,0,1,0,0,0,0,0,0,0,0,1" separator="="
set "KateSQLPlugin][OutputCustomization][blob" "font" "FiraCode Nerd Font,{{ .system.fontsize }},-1,5,400,0,1,0,0,0,0,0,0,0,0,1" separator="="
set "KateSQLPlugin][OutputCustomization][datetime" "font" "FiraCode Nerd Font,{{ .system.fontsize }},-1,5,400,0,1,0,0,0,0,0,0,0,0,1" separator="="
set "KateSQLPlugin][OutputCustomization][null" "font" "FiraCode Nerd Font,{{ .system.fontsize }},-1,5,400,0,1,0,0,0,0,0,0,0,0,1" separator="="
set "KateSQLPlugin][OutputCustomization][number" "font" "FiraCode Nerd Font,{{ .system.fontsize }},-1,5,400,0,1,0,0,0,0,0,0,0,0,1" separator="="
set "KateSQLPlugin][OutputCustomization][text" "font" "FiraCode Nerd Font,{{ .system.fontsize }},-1,5,400,0,1,0,0,0,0,0,0,0,0,1" separator="="

#ignore "exact section name without brackets" "exact key name"
#ignore regex "section.*" "key_prefix_.*"
#transform "section" "key" transform_name read="the docs" for="more detail on transforms"
