[Event/Textcompletion: no match]
Action=Sound
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_status_end.ogg
TTS=

[Event/Trash: emptied]
Action=
Execute=
Logfile=
TTS=

[Event/applicationcrash]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_error2.ogg
TTS=

[Event/beep]
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_info3.ogg
TTS=

[Event/cancellogout]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_status_attention.ogg
TTS=

[Event/catastrophe]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_error_very_important.ogg
TTS=

[Event/exitkde]
Action=Sound
Execute=
Logfile=
{{- if eq .chezmoi.hostname "sauron" }}
Sound=/usr/share/sounds/subnautica_theme/session_exit.ogg
{{- else }}
Sound=/usr/share/sounds/subnautica_theme/session_exit2.ogg
{{- end }}
TTS=

[Event/fatalerror]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_error2.ogg
TTS=

[Event/messageCritical]
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_warning.ogg
TTS=

[Event/messageInformation]
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_info.ogg
TTS=

[Event/messageWarning]
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_warning2.ogg
TTS=

[Event/messageboxQuestion]
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_question2.ogg
TTS=

[Event/notification]
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_info_special.ogg
TTS=

[Event/plasmoidDeleted]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/widget_deleted.ogg
TTS=

[Event/plasmoidInstallationFailed]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_error.ogg
TTS=

[Event/printerror]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_error3.ogg
TTS=

[Event/startkde]
Action=Sound
Execute=
Logfile=
{{- if eq .chezmoi.hostname "sauron" }}
Sound=/usr/share/sounds/subnautica_theme/session_welcome_long.ogg
{{- else }}
Sound=/usr/share/sounds/subnautica_theme/session_welcome2.ogg
{{- end }}
TTS=

[Event/warning]
Action=Sound|Popup
Execute=
Logfile=
Sound=/usr/share/sounds/subnautica_theme/general_warning_important.ogg
TTS=
