[Desktop Entry]
Categories=Utility;Network;
Comment=Receive ntfy notifications
Exec=ntfyDesktop %u
Icon=moe.emmaexe.ntfyDesktop
Keywords=notifications;
MimeType=x-scheme-handler/ntfy;
Name=Ntfy Desktop
Type=Application
